<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="org.hsqldb.jdbc.JDBCDataSource">
        <property name="URL"
                  value="jdbc:hsqldb:hsql://localhost:9001/mydb"/>
        <property name="user" value="SA"/>
        <property name="password" value=""/>
    </bean>

    <bean id="dao" class="com.xyzcorp.EmployeeDAO">
        <constructor-arg index="0" ref="dataSource"/>
    </bean>

    <bean id="service" class="com.xyzcorp.EmployeeService">
        <constructor-arg index="0" ref="dao"/>
    </bean>

</beans>